<div class="hero_queue">

  <div class="divider_big"></div>
  <h1 class="queue_title">Next addition queue</h1>

  <!-- form to make a submission -->

  <div class="form-block">
    <form action="/api/submissions" method="POST">
      <div class="form_header">
        <div class="contributor _5"></div>
        <div>Logged-in User</div>
      </div>
      <textarea placeholder="Insert Submission" maxlength="5000" id="field" name="field" data-name="Field"
        class="textarea"></textarea>
      <input type="hidden" name="storyId" value=<%=stories[0].id %>>
      <div class="form_footer">
        <input type="submit" value="Submit" data-wait="Please wait..." class="button">
      </div>
    </form>
  </div>

  <!-- submission -->

  <% submissions.sort((a, b)=> b.votes - a.votes).forEach((submission)=> { %>
    <% if (!submission.accepted && submission.active) { %>
      <div class="submission">
        <div class="submission_user">
          <div class="contributor _2"></div>
          <div>
            <%= submission.name %>
          </div>
        </div>
        <p class="hero_story_paragraph">
          <%= submission.content %>
        </p>
        <div class="divider"></div>
        <div class="submission_footer">
          <div class="submission_vote">
            <form action="/api/createVote/<%= submission.id %>" method="POST">
              <input type="hidden">
              <button type="submit" class="material-symbols-outlined" 
              style="border: none; background: none; padding: 0; cursor: pointer; outline: none;">
                keyboard_arrow_up
              </button>
            </form>
            <div class="vote_count">
              <%= submission.votes %>
            </div>
            <span class="material-symbols-outlined">
              keyboard_arrow_down
            </span>
          </div>
        </div>
      </div>
      <% } %>
        <% }); %>



</div>